<div class="productSliderBase">
    <div class="row">
        <div class="products">
            <div class="left-arrow tab" ng-show="step > 0" ng-click="getPrevious()">
                <i class="fa fa-arrow-left"></i>
            </div>
            <a href="#/listing/{{product.id}}" class="product" ng-repeat="product in products.items track by $index">
                <div class="thumb animated fadeIn" ng-mouseover="changeImage($index)" ng-style="getClass(product)">
                    <div class="title">
                        <p ng-show="type == 'holding'"><b>{{product.title}}</b><br>
                            Due: {{product.due | amCalendar}}</p>
                        <p ng-hide="type == 'holding'"><b>{{product.title}}</b></p>
                    </div>

                </div>
            </a>
            <div class="right-arrow tab" ng-click="getNext()" ng-hide="nomoreright">
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
    </div>

</div>

