<head>
    <meta property="og:image" content={{domain}}{{product.image.size.large}}/>
</head>

<div class="itemview" ng-class="itemClass">
    <div class="row owner-row">
        <div class="row" ng-show="product.owner.username == auth.username">
            <a class="button button-blue" href="#/listing/{{product.id}}/edit"><i class="fa fa-pencil"></i> Edit</a>
        </div>
    </div>

    <div class="content animated fadeIn">
        <div class="row title" ng-mouseEnter="setShowTitleEdit(true)"
             ng-mouseLeave="setShowTitleEdit(false)" ng-hide="showTitleEditor">
            <div class="title-content">
                <h1 ng-bind-html="product.title"></h1>
                <button class="floating-edit button-hint-filled" ng-class="showTitleButtonClass"
                        ng-click="showTitleEditor = true"
                        ng-show="showTitleEdit">
                    <i class="fa fa-pencil"></i> Edit
                </button>
            </div>

        </div>
        <div class="textEditor editors" ng-show="showTitleEditor">
            <form ng-submit="edit()">

                <input type="text" ng-model="product.title">
                <button class="button-green">Edit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <div class="row">
                <div class="gallery">

                    <image-gallery class="animated fadeIn" images="{{product.images}}"></image-gallery>
                </div>
            </div>
        </div>
        <div class="four columns info">
            <div class="row">
                <div class="rent" ng-show="product.title">
                    <rent-button class="animated fadeIn" datasource="product"></rent-button>
                </div>
            </div>


            <div class="owner-pane" ng-hide="!product.gotRes">
                <h4>Owner</h4>
                <div class="detail">
                    <div class="image">

                        <img ng-cloak
                             ng-src="https://secure.gravatar.com/avatar/{{product.owner.gravatar}}?s=90&d=identicon"
                             width="50px" height="auto"/>
                    </div>
                    <div class="username">

                        <a href="#/user/{{product.owner.username}}">@{{product.owner.username}}</a>
                    </div>
                </div>
            </div>

            <h4>Tags</h4>
            <div class="tags">
                <a href="#/tags/{{tag.tag}}" class="tag" ng-repeat="tag in product.tags track by $index | limitTo:5">{{tag.tag}}</a>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="row content-view">
            <div class="content"
                 ng-hide="showContentEditor"
                 ng-mouseEnter="setShowContentEditorEdit(true)"
                 ng-mouseLeave="setShowContentEditorEdit(false)">


                <span ng-bind-html="product.content"></span>
                <button class="floating-edit button-hint-filled" ng-class="showContentButtonClass"
                        ng-click="showContentEditor = true"
                        ng-show="showContentEditorEdit"><i class="fa fa-pencil"></i> Edit
                </button>
            </div>


            <div class="editor" ng-show="showContentEditor">
                <text-angular class="editor-view" ng-model="product.content"></text-angular>
                <button class="button-green" ng-click="edit()">Update</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="eight columns">
            <div class="row details">
                <h2>Listing Details</h2>
                <ul>

                    <li class="description-holder" ng-mouseEnter="setShowDescriptionEdit(true)"
                        ng-mouseLeave="setShowDescriptionEdit(false)"
                        ng-hide="showDescriptionEditor">
                        <b>Description</b>: <span ng-bind-html="product.description"></span>
                        <button class="floating-edit button-hint-filled" ng-class="showDescriptionButtonClass"
                                ng-click="showDescriptionEditor = true"
                                ng-show="showDescriptionEdit">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </li>
                    <li ng-show="showDescriptionEditor">
                        <form ng-submit="edit()">

                            <input type="text" ng-model="product.description">
                            <input type="submit">
                        </form>
                    </li>

                    <li ng-mouseEnter="setShowAgeEdit(true)"
                        ng-mouseLeave="setShowAgeEdit(false)">
                        <b>Age Rating</b>: {{product.age_rating}}
                        <span ng-show="showAgeEdit" class="button-icon-row" ng-class="showAgeButtonClass">
                            <div class="button-plus" ng-click="addAge(1)">+</div>
                            <div class="button-plus" ng-click="deductAge(1)">-</div>
                        </span>
                    </li>


                    <li><b>Condition</b>: {{product.condition}}</li>
                    <!--<li><b>Availability</b></li>-->
                    <li><b>Dated Added</b>: {{product.date_updated | amCalendar}}</li>
                    <li><b>Dated Updated</b>: {{product.date_added | amCalendar}}</li>
                </ul>
            </div>
        </div>
        <div class="four columns">

            <div class="qr-pane">
                <qrcode class="code row" type="product" source={{product}}></qrcode>
                <i class="info row"><b>Mobile app: </b>Scan me</i>
            </div>


        </div>
    </div>


    <h4>Share</h4>
    <div class="row sharing">
        <div class="twitter">

            <a socialshare
               socialshare-provider="twitter"
               socialshare-text="{{product.title}}: {{product.description}}"
               socialshare-hashtags="karite, {{product.title}}"
               socialshare-url="{{domain}}/#/listing/{{product.id}}">
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="share">
                    Twitter
                </div>
            </a>

        </div>
        <div class="facebook">

            <a socialshare class="facebook"
               socialshare-provider="facebook"
               socialshare-title="{{product.title}}"
               socialshare-description="{{product}}"
               socialshare-description="{{product.description}}"
               socialshare-media="{{domain}}{{product.images[0].size.large}}"
               socialshare-url="{{domain}}/#/listing/{{product.id}}">
                <div class="icon">
                    <i class="fa fa-facebook-official"></i>
                </div>
                <div class="share">
                    Facebook
                </div>
            </a>

        </div>
    </div>


    <div class="row comment-creator">
        <button class="button" ng-hide="showReviewCreator || myReviews.length >= 1" ng-click="showReviewCreator = true">
            Write Review
        </button>

        <span ng-show="showReviewCreator">
            <div ng-hide="myReviews.length >= 1" class="creator">
                <h3>Create Review</h3>
                <form ng-submit="addComment(newReview)">
                    <div class="row">
                        <div class="eight columns">
                            <textarea ng-model="newReview.message"></textarea>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <star-rating name="reviewEdit" value="3"
                                             disable-hover="false"></star-rating>
                            </div>
                            <div class="row">
                                <input type="submit" class="button-green-filled" value="Create">
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </span>

        <div ng-show="myReviews.length >= 1" class="editor">
            <h3>Your Review</h3>
            <div class="review" ng-repeat="review in myReviews">
                <form ng-submit="editReview(review)">
                    <div class="row">
                        <div class="eight columns">
                            <textarea ng-model="review.message"></textarea>
                        </div>
                        <div class="four columns">
                            <div class="row">
                                <star-rating name="reviewEdit" value="{{review.rating}}"
                                             disable-hover="false"></star-rating>
                            </div>
                            <div class="row">
                                <input type="submit" class="button-green-filled" value="edit">
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <!--<h4>Add comment</h4>-->
        <!--{{product.comments.reviewed}}-->
        <!--<form ng-submit="addComment(comment)">-->
        <!--<div class="nine columns">-->

        <!--<input class="input" type="text" ng-model="comment.message">-->
        <!--<star-rating mrating="{{rating}}"></star-rating>-->
        <!--&lt;!&ndash;<star-rating my-text="hello {{ bar }}" my-two-way-bind="foo" my-one-way-bind="bar"></star-rating>&ndash;&gt;-->
        <!--Rating: {{review}}-->
        <!--</div>-->
        <!--<div class="three columns">-->

        <!--<input type="submit" value="Comment" ng-hide="comment.processing">-->
        <!--<input type="button" value="Processing...." ng-show="comment.processing">-->
        <!--</div>-->
        <!--</form>-->


    </div>
    <div class="row">
        <h3>Reviews</h3>
        <div class="reviews">
            <div class="review row" ng-mouseenter="showOptions = true" ng-mouseleave="showOptions = false"
                 ng-repeat="comment in product.comments.reviews | orderBy:'-date_added'">
                <div class="two columns icon">
                    <img ng-cloak
                         ng-src="https://secure.gravatar.com/avatar/{{comment.author.gravatar}}?s=90&d=identicon"
                         width="50px" height="auto"/>
                    <a href="#/user/{{comment.author.username}}">@{{comment.author.username}}</a>

                </div>
                <div class="six columns message">
                    {{comment.message}}

                </div>
                <div class="four columns rating">
                    <star-rating name="nil" value="{{comment.rating}}" disable-hover="true"></star-rating>
                </div>
                <div class="hover animated fadeIn" ng-show="showOptions">

                    <div class="button-row">
                        <!--<span am-time-ago="comment.date_added"></span>-->
                        <span class="deletebutton" ng-click="deleteComment(comment.id, $index)"
                              ng-if="comment.author.username == auth.username"><i class="fa fa-times"></i> Delete</span>

                        <span class="approvebutton" ng-click="approveComment(comment.id, $index)"
                              ng-if="!comment.authorized"><i class="fa fa-times"></i> Approve</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

