<div class="creator">
    <!--<div class="floating">-->
    <!--<button ng-click="preview = !preview">Preview</button>-->
    <!--</div>-->
    <!--<div class="row" ng-show="preview" ng-include="'/views/item/item.html'"></div>-->
    <div class="row">

        <form ng-submit="create(product)">
            <h1>Listing Creator</h1>
            <div class="row">
                <h2>Title</h2>
                <i>What is it called?</i>
                <!--<char-limit input="{{product.title}}" limit="80"></char-limit>-->
                <p class="textred" ng-show="message.error.title.enable">{{message.error.title.text}}</p>
                <input class="u-full-width" ng-model="product.title" type="text"
                       placeholder="Title: An awesome product">


                <h2>Description</h2>
                <i>A short description</i>
                <!--<char-limit input="{{product.description}}" limit="140"></char-limit>-->
                <p class="textred" ng-show="message.error.description.enable">{{message.error.description.text}}</p>
                </label>
                <input class="u-full-width" ng-model="product.description" type="text"
                       placeholder="Description: an awesome product">
            </div>
            <div class="row" flow-init="{singleFile: true}"
                 flow-name="product.flow"
                 flow-files-added="processFiles($files)">

                <div class="six columns">


                    <h2>Cover Image</h2>
                    <i>This image will be seen first</i>

                    <div class="drop-zone animated" flow-drop
                         ng-class="DropZoneClass"
                         flow-drag-enter="dropZoneEnter()"
                         flow-drag-leave="dropZoneLeave()"
                         ng-click="InsertItems($flow)">
                        Drag And Drop your file here
                    </div>

                    <input type="file" flow-btn/>

                    <!-- End of image upload -->


                </div>
                <div class="six columns">

                    <div class="flowPreview">

                        <img ng-class="imagePreviewClass" flow-img="product.flow.files[0]"/>
                    </div>
                </div>
            </div>
            <div class="row editor-view">
                <h2>Content</h2>
                <i>Tell us more, technical description, more details, images</i>
                <text-angular ng-model="product.content"></text-angular>
            </div>

            <div class="row">

                <div class="six columns">
                    <h2>Condition</h2>
                    <i>Is it new or been used?</i>
                    <!--<char-limit input="{{product.condition}}" , limit="140"></char-limit>-->
                    <p class="textred" ng-show="message.error.description.enable">{{message.error.description.text}}</p>
                    <input class="u-full-width" ng-model="product.condition" type="text"
                           placeholder="Condition: New, Like New, Damaged, etc.">
                </div>
                <div class="six columns">
                    <h2>Days availability</h2>
                    <i>How many days will it be available for</i>
                    <p class="textred" ng-show="message.error.days.enable">
                        {{message.error.days.text}}</p>
                    <input class="u-full-width" ng-model="product.days" type="number" placeholder="7">
                </div>
            </div>
            <br>
            <div class="">
                <h2>Tags</h2>
                <i>Separate tags with commas ,</i>
                <input class="u-full-width" ng-model="product.tagsstring" type="text"
                       placeholder="separate tags with ,">
            </div>
            <br>
            <div class="row">
                <div class="submission">
                    <input type="submit" class="button-green-filled" ng-class="uploadButtonClass"
                           value="{{message.button}}">
                </div>
            </div>
        </form>
    </div>


</div>


</div>