// Media queries
$small: 300px
$medium: 700px
$large: 900px
$extraLarge: 1200px

// Colours: font
$navigationColour: #03A9F4

$primaryColour: #333
$hoverColour: #ECEFF1

$statusOK: #40C4FF
$statusError: #df2029
$statusUnknown: #FFEB3B
$statusUnavailable: #E91E63
$statusGreen: #4CAF50

$bordercolour: #e3e3e3

// Font sizes
$titleSize: 2.3rem
$subtitleSize: 1.3rem

// Font weights
$titleWeight: 600
$subTitleWeight: 400

@mixin center-children
  display: flex
  justify-content: center

@mixin center-tag
  display: flex
  justify-content: stretch

@mixin center-tags
  display: flex
  justify-content: left
  flex-wrap: wrap

@mixin center-image
  display: block
  margin: 0 auto

@mixin center-text
  text-align: center

@mixin bold
  font-weight: bold

@mixin title
  font-weight: $titleWeight
  font-size: $titleSize

@mixin subtitle
  font-weight: $subTitleWeight
  font-size: $subtitleSize

@mixin responsive-text
  @media screen and (min-width: 0px)
    .title
    padding-top: 10px
  text-align: center
  .item
    margin: 0 auto
    width: 100%
  @media screen and (min-width: $small)
    .title
      padding-top: 10px
    text-align: center
  @media screen and (min-width: $medium)
    .title
      padding-top: 0px
    text-align: left
  @media screen and (min-width: $large)
    text-align: left
  @media screen and (min-width: $extraLarge)
    text-align: left
    .item
      margin: 0 auto
      width: 600px

@mixin basic-style
  background: #fff
  //border: 1px solid #e3e3e3
  border-bottom: none
  min-height: 50vh

@mixin border-info
  border: 1px solid #e3e3e3

//  Ng-cloak, ensure that things are hidden
[ng\:cloak], [ng-cloak], .ng-cloak
  display: none


@media screen and (min-width: 0px)
  html, body, .wrapper
    background: #ECEFF1


@media screen and (min-width: 1028px)
  html, body, .wrapper
    background: #ECEFF1


[class*=column]
  width: calc(100%)
  margin-left: 0rem
  margin-right: 0rem

.mdl-layout__header-row
  box-shadow: none