// Variables
$backgroundcolour: #F2F1EF

//$navigation-background: #03A9F4
$navigation-background: #2C3E50
//$navigation-background: #272A34


// Media queries
$small: 500px
$medium: 700px
$large: 900px
$extraLarge: 1200px

$primaryColour: #333
$hoverColour: #ECEFF1

$statusOK: #33C3F0
$statusError: #df2029
$statusUnknown: #FFEB3B
$statusUnavailable: #E91E63
$statusGreen: #4CAF50

$content-background: #fefefe

$bordercolour: #e3e3e3
$main-border: 1.4px solid $bordercolour
$main-border-radius: 5px

// Mixins

@mixin center-center
  display: flex
  align-items: center
  justify-content: center

@mixin center-right
  display: flex
  align-items: center
  justify-content: flex-end

@mixin center-left
  display: flex
  align-items: center
  justify-content: flex-start

@mixin center-text
  text-align: center

@mixin center-children
  display: flex
  justify-content: center

@mixin center-tag
  display: flex
  justify-content: stretch

@mixin center-tags
  display: flex
  justify-content: left
  flex-wrap: wrap

@mixin tags-right
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row
  -webkit-justify-content: flex-end
  justify-content: flex-end

@mixin tags-bottom-right
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row
  height: 100%
  -webkit-justify-content: flex-end
  justify-content: flex-end
  align-items: flex-end
  align-self: flex-end
