<div class="login">
    <div class="row">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="error" ng-show="showError">
            <div class="message">
                {{error}}
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <p></p>
            </div>
            <div class="eight columns noCookie" ng-hide="cookiesHere">
                <div class="row">
                    <i>Cookies must be enabled to login</i>
                    <button class="button" ng-click="enableCookie()">Enable Cookies</button>
                </div>
            </div>
        </div>

       <div class="form" ng-show="cookiesHere">
           <div class="loading" ng-show="loading">
               <div class="content">
                    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
                   <p>Processing...</p>

               </div>

           </div>
            <form ng-submit="login(user)" ng-hide="loading">

                <label for="">Username</label>
                <input class="u-full-width" ng-model="user.name" type="text" placeholder="Lemon">
                <label for="">Password</label>
                <input class="u-full-width" ng-model="user.password" type="password" placeholder="********" id="">
                <input class="button-primary login-button" type="submit" value="login">
            </form>
        </div>
        <div class="options">
            <div class="register">
                <p>Don't have an account? <a href="#/register"> register now.</a></p>
            </div>
        </div>

    </div>
</div>