<div class="row">
    <div class="two columns">

    </div>
    <div class="five columns">
        <p>{{person.username}}</p>
    </div>
    <div class="five columns">
        <p>{{person.date_requested | amCalendar}}</p>
    </div>
</div>

<div class="row" ng-repeat="item in requests" ng-hide="noRequests">
    <div class="five columns">
        <b>{{item.title}}</b>
        <span class="label label-pill label-info">
            {{item.request}}
            <span ng-show="item.request === 1"> request</span>
            <span ng-hide="item.request === 1"> requests</span>
        </span>
    </div>
    <div class="two columns">
        <p>{{item.date_requested | amCalendar}}</p>
    </div>
    <div class="five columns">
        <a class="button" href="#/listing/{{item.id}}/requests">View Requests</a>

    </div>


</div>


<div class="row" ng-show="noRequests">
    No Requests :(
</div>