<div class="itemview">
    <div class="content">
        <button class="button button-red" ng-click="deleteItem()">Delete</button> <a class="button button-green" href="#/listing/{{product.id}}/edit">edit</a>
        <div class="row">
            <div class="five columns">
                <div class="row image">
                    a
                    <img ng-src="{{domain}}{{product.images[0].size.large}}"/>
                    <!--<limage class="image" image='{{product}}' preview=true radius="0" quality="medium" height='100' width='100'></limage>-->
                </div>
                <div class="row title">
                    <h2>{{product.title}}</h2>

                </div>
                <div class="row">
                    <h4>Tags</h4>
                    <div class="tags">
                        <div class="tag" ng-repeat="tag in product.tags">{{tag.tag}}</div>
                    </div>
                </div>
            </div>
            <div class="seven columns">
                <div class="row rent">
                    <div class="text">
                        Available for {{product.product_rental_period_limit}} days.
                    </div>
                    <rent-button class="select" datasource="product"></rent-button>
                </div>
                <div class="row description">
                    <h3>Description</h3>
                    {{product.description}}
                </div>
                <div class="row condition">
                    <h3>Condition</h3>
                    {{product.condition}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <qrcode class="code" type="product" source={{product}}></qrcode>
                <i class="info">Scan me</i>
            </div>
            <div class="seven columns">
                <div class="row owner">
                    <h4>Owner</h4>
                    <img ng-cloak
                         ng-src="https://secure.gravatar.com/avatar/{{product.owner.gravatar}}?s=90&d=identicon"
                         width="50px" height="auto"/>
                    <a href="#/user/{{product.owner.username}}">@{{product.owner.username}}</a>
                    <div class="row">
                        Last updated: {{product.date_updated | amCalendar}}
                    </div>
                    <div class="row">
                        Date Added: {{product.date_added | amCalendar}}
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

