<div class="fourOhFour">
    <div class="code m-b-10 m-t-20"><i class="fa fa-warning"></i> Four Oh Four</div>
    <h2 class="font-bold">That page can’t be found.</h2>

    <div class="description">
        <br>
        Sorry, Looks like the page you are trying to access does not exist... :(
        <br>
        <br>
        <a ng-click="happy = !happy" class="button">Click for happiness</a>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vH0pSHZOsTk" frameborder="0" allowfullscreen ng-show="happy"></iframe>
        <div>
            <br><br>
            <a href="#/home" class="button"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
        </div>
    </div>
</div>