<div class="fourOhFour">
    <div class="code m-b-10 m-t-20"><i class="fa fa-warning"></i> Four Oh Four</div>
    <h2 class="font-bold">That page can’t be found.</h2>

    <div class="description">
        <br>
        Sorry, Looks like the page you are trying to access does not exist... :(
        <br>
        <br>
        <div>
            <br><br>
            <a href="#/home" class="button"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
        </div>
    </div>
</div>