<nav class="navbar navbar-full navbar-dark bg-primary" ng-controller="AuthCtrl">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#/">
            <i class="fa fa-lemon-o"></i> <b>{{site.title}}</b>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/listing">Listing</a>
            </li>
            <li class="nav-item dropdown" ng-show="loggedIn">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Owner Manager
                </a>
                <div class="dropdown-menu animated fadeIn" aria-labelledby="Preview">
                    <a class="dropdown-item" href="#/owner/listing">Items</a>
                    <a class="dropdown-item" href="#/create">Add new listing</a>
                </div>
            </li>
            <li class="nav-item pull-xs-right" ng-hide="loggedIn">
                <a class="nav-link" href="#/login">Login</a>
            </li>
            <li class="nav-item pull-xs-right" ng-hide="loggedIn">
                <a class="nav-link" href="#/register">Register</a>
            </li>
            <li class="nav-item dropdown pull-xs-right darken" ng-show="loggedIn">
                <a class="nav-link navbar-brand dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <!--<img ng-cloak class="profileimage" height=50 width="auto" ng-src="https://secure.gravatar.com/avatar/{{auth.gravatar}}?s=90&d=identicon"/>-->
                    <span class="username">
                        @{{auth.username}}
                    </span>

                </a>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn" aria-labelledby="Preview">
                    <a class="dropdown-item" href="#/user/{{auth.username}}"><i class="fa fa-user"></i> View Profile</a>
                    <a class="dropdown-item" href="#/my/items/current"><i class="fa fa-cog"></i> My Items</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Account Settings</a>
                    <a class="dropdown-item" href="#/logout"><i class="fa fa-power-off"></i> Sign off</a>
                </div>
            </li>
        </ul>
    </div>
</nav>