<div class="row">
    <div class="two columns">

    </div>
    <div class="five columns">
        <p>{{person.username}}</p>
    </div>
    <div class="five columns">
        <p>{{person.date_requested | amCalendar}}</p>
    </div>
</div>

<div class="row" ng-repeat="person in requests" ng-hide="noRequests">
    <div class="three columns">
        <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{person.gravatar}}?s=90&d=identicon" width="50px"
             height="auto"/>
        <b>{{person.username}}</b>
    </div>
    <div class="three columns">
        <p>{{person.date_requested | amCalendar}}</p>
    </div>
    <div class="three columns">
        <button ng-click="accept(person.username)">Accept</button>
    </div>
    <div class="three columns">
        <button ng-click="cancel(person.username)">Cancel</button>
    </div>


</div>


<div class="row" ng-show="noRequests">
    No Requests :(
</div>