<div class="listing">
    <div class="subheader">
        <div class="content">
            <div class="subtitle">
                <p>Listings</p>
            </div>
            <div class="options">
                Number of results <input type="number" placeholder="{{count}}" ng-model="count">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="two columns sidebarresults">
            Stuff here
        </div>
        <div class="ten columns">
            <div class="results" ng-include="'/views/partials/results.html'">

            </div>
        </div>
    </div>

</div>