<div class="admin" ng-show="loggedIn">
    <div class="header">
        <div class="title">
            <h1>Admin panel</h1>
        </div>
        <div class="subtitle">
            <h3>Unauthorized Listing</h3>
        </div>
    </div>
    <div class="row">
        <div class="sidebar two columns">
            <ul class="navigation">
                <li><a href="#/admin/listing"><i class="fa fa-cubes"></i> Your Listing</a></li>
                <li><a href="#/admin/requests/listing"><i class="fa fa-cube"></i> Listing Requests</a></li>
                <li><a href="#/admin/users"><i class="fa fa-user"></i> User Requests</a></li>
                <li><a href="#/admin/profile"><i class="fa fa-cog"></i> Profile</a></li>
            </ul>
        </div>


        <div class="content ten columns">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Last updated</th>
                    <th>Authorize</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products.items">
                    <td><a href="#/listing/{{product.id}}" class="button">Open Item</td>

                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>

                    <!---->
                    <td>{{product.date_added | amCalendar}}</td>
                    <td>{{product.date_updated | amCalendar}}</td>
                    <td><button ng-click="authorize(product.id, $index)">Authorize</button></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="admin" ng-hide="loggedIn">
    <h1>You must be logged in</h1>
</div>

