<div class="user">
    <!--{{user}}-->

    <div class="profile">
        <div class="row">
            <div class="username animated fadeIn">
                {{user.username}}
            </div>
        </div>
        <div class="row"
             ng-style="{'color': 'rgb('+colors.dominantColor[0]+', '+colors.dominantColor[1]+', '+colors.dominantColor[2]+')'}"
             ng-cloak>
            <div class="six columns animated fadeIn">
                <div class="image">
                    <img ng-src="https://secure.gravatar.com/avatar/{{user.gravatar}}?s=90&d=identicon" width="100%"
                         height="auto" crossorigin="anonymous" color-thief color-thief-dominant="colors.dominantColor"/>
                </div>
            </div>
            <div class="six columns">
                <div class="qr">
                    <img ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>
                </div>
            </div>
        </div>
        <div class="message row animated fadeIn">
            <div class="container">
                <div class="icon three columns">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="text nine columns">
                    <p>Scan the barcode to view profile</p>
                </div>
            </div>
        </div>
    </div>


</div>