<div class="imageGalleryBase">
    <!--{{images}}-->
    <div class="row gallery">
        <div class="thumbnails">
            <div class="thumbnail" ng-repeat="image in source track by $index" ng-if="$index < 3">
                <div class="thumb" ng-mouseover="changeImage($index)" ng-mouseenter="hover(true, $index)"
                     ng-mouseleave="hover(false, $index)" ng-click="selectImage($index)" ng-style="{
    'background':'url({{domain}}{{image.size.thumb}}) no-repeat center center', 'background-size': 'cover', 'overflow':'hidden'}">
                    <div class="cover" ng-show="isHovering[$index].active == true">
                        <i class="fa fa-search-plus"></i>
                    </div>
                </div>

                <!--<img ng-src="{{domain}}{{image.size.thumb}}"/>-->
            </div>
        </div>

        <div class="showcase" id="thisshowcase" ng-style="showcaseImage">
            <div class="cover" ng-show="isHovering[$index].active == true">
                <i class="fa fa-search-plus"></i>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<div class="largescreen" ng-show="displayLargeScreen">
    <div class="shadow" ng-click="closeLargeScreen()"></div>
    <div class="window">

        <div class="row">
            <div class="pic">
                <img ng-src="{{selectedImage.size.large}}">
            </div>
        </div>
        <div class="row">

            <div class="controls">

                <a class="button" href="{{domain}}/data/{{selectedImage.location}}">View Original</a>

            </div>
        </div>
        <div class="close">
            <i class="fa fa-times" ng-click="closeLargeScreen()"></i>
        </div>
    </div>

</div>

<div class="fullscreen">

</div>
