<div class="imageGalleryBase">
    <!--{{images}}-->
    <div class="row gallery">
        <div class="thumbnails">
            <div class="thumbnail" ng-repeat="image in source track by $index" ng-if="$index < 3">
                <div class="thumb" ng-mouseenter="changeImage($index)"
                     ng-mouseleave="hover(false, $index)" ng-click="selectImage($index)" ng-style="{
    'background':'url({{domain}}{{image.size.thumb}}) no-repeat center center', 'background-size': 'cover', 'overflow':'hidden'}">
                    <div class="cover" ng-show="isHovering[$index].active == true">
                        <i class="fa fa-search-plus"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase" ng-class="imagePreviewClass" id="thisshowcase" ng-style="showcaseImage">
            <div class="cover">
                <i class="fa fa-search-plus"></i>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<div class="largescreen" ng-show="displayLargeScreen" ng-class="largeScreenClass">
    <div class="shadow" ng-click="closeLargeScreen()"></div>
    <div class="window" ng-keydown="keyPress($event)">

        <div class="left">
            <i class="fa fa-arrow-left" ng-click="changeFSIndex(0)"></i>
        </div>
        <div class="pic">
            <img ng-src="{{domain}}{{images[selectedImage].size.large}}">

        </div>

        <div class="right">
            <i class="fa fa-arrow-right" ng-click="changeFSIndex(1)"></i>
        </div>
        <div class="row">

            <div class="controls">
                <a class="button" href="{{domain}}/data/{{selectedImageLocation}}">View Original</a>

            </div>
        </div>
        <div class="close">
            <i class="fa fa-times" ng-click="closeLargeScreen()"></i>
        </div>
    </div>

</div>

<div class="fullscreen">

</div>
