[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

html, body {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.background {
  width: 110%;
  height: 120%;
  position: fixed !important;
  background-attachment: fixed;
  margin-left: -100px !important;
  margin-top: -100px !important; }

body {
  background-color: #F2F1EF;
  font-size: 16px; }

.row {
  margin-left: 0rem;
  margin-right: 0rem; }

html {
  font-size: 1rem; }

h1 {
  font-size: 3rem;
  font-weight: bold; }

h2 {
  font-size: 1.9rem;
  margin: 0; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  margin-bottom: 5px; }

h5 {
  font-size: 1.3rem; }

p {
  font-size: 1rem; }

header {
  position: absolute;
  top: 0; }

.button-green {
  transition: 0.3s !important;
  color: #4CAF50 !important;
  border-color: #4CAF50 !important; }

.button-green:hover {
  transition: 0.3s !important;
  color: #3d8c40 !important;
  border-color: #3d8c40 !important; }

.button-green-filled {
  transition: 0.3s !important;
  color: white !important;
  border-color: transparent !important;
  background: #4CAF50 !important; }

.button-green-filled:hover {
  background: #3d8c40 !important; }

.button-red {
  transition: 0.3s !important;
  color: #df2029 !important;
  border-color: #df2029 !important; }

.button-red:hover {
  transition: 0.3s !important;
  color: #b21a21 !important;
  border-color: #b21a21 !important; }

.button-red-filled {
  color: white !important;
  border-color: transparent !important;
  background: #df2029 !important; }

.button-red-filled:hover {
  color: white !important;
  border-color: transparent !important;
  background: #b21a21 !important; }

.button-blue {
  transition: 0.3s !important;
  color: #33C3F0 !important;
  border-color: #33C3F0 !important; }

.button-blue:hover {
  color: #2eb0d8 !important;
  border-color: #2eb0d8 !important; }

.button-blue-filled {
  transition: 0.3s !important;
  color: white !important;
  border-color: transparent !important;
  background: #33C3F0 !important; }

.button-blue-filled:hover {
  color: white !important;
  border-color: transparent !important;
  background: #299cc0 !important; }

.button-hint-filled {
  color: white !important;
  border-color: transparent !important;
  background: #2C3E50 !important; }

.button-hint-filled.entering {
  animation-duration: 0.3s;
  animation-name: bounceIn; }

.button-hint-filled.leaving {
  animation-duration: 0.3s;
  animation-name: bounceOut; }

.button-plus {
  color: white !important;
  border-color: transparent !important;
  background: #2C3E50 !important;
  min-width: 30px;
  min-height: 30px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 100%; }

.button-plus:hover {
  color: white !important;
  background: #e85445 !important; }

.button-icon-row {
  display: flex;
  margin-left: 10px;
  margin-right: 10px; }

.button-icon-row.entering {
  animation-duration: 0.3s;
  animation-name: bounceIn; }

.button-icon-row.leaving {
  animation-duration: 0.3s;
  animation-name: bounceOut; }

@media screen and (min-width: 0px) {
  body .wrapper {
    margin: 0;
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px; }
  body .navigation {
    padding-left: 0px;
    padding-right: 0px; }
    body .navigation .dropdown-items-right {
      right: 0; } }

@media screen and (min-width: 500px) {
  body .wrapper {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 70px; }
  body .navigation {
    padding-left: 0px;
    padding-right: 0px; }
    body .navigation .dropdown-items-right {
      right: 0; } }

@media screen and (min-width: 700px) {
  body .wrapper {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px; }
  body .navigation {
    padding-left: 30px;
    padding-right: 30px; }
    body .navigation .dropdown-items-right {
      right: 30px; } }

@media screen and (min-width: 900px) {
  body .wrapper {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px; }
  body .navigation {
    padding-left: 40px;
    padding-right: 40px; }
    body .navigation .dropdown-items-right {
      right: 137px; } }

@media screen and (min-width: 1200px) {
  body .wrapper {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px; }
  body .navigation {
    padding-left: 150px;
    padding-right: 150px; }
    body .navigation .dropdown-items-right {
      right: 137px; } }

.wrapper {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  height: 100%; }

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -150px;
  min-height: 100px;
  background: #e8e7e5; }
  .footer .full-height {
    min-height: 100px; }
  .footer .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; }
  .footer .copyright {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; }

.limagePreview {
  display: flex;
  align-items: center;
  justify-content: center; }
  .limagePreview .image {
    height: 80% !important;
    transition: 0.3s; }

.limagePreview.open {
  animation-duration: 0.3s;
  animation-name: fadeIn; }

.limagePreview.close {
  animation-duration: 0.3s;
  animation-name: fadeOut; }
