[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

@media screen and (min-width: 0px) {
  html, body, .wrapper {
    background: #ECEFF1; } }

@media screen and (min-width: 1028px) {
  html, body, .wrapper {
    background: #fafafa; } }

[class*=column] {
  width: calc(100%);
  margin-left: 0rem;
  margin-right: 0rem; }

.editortags {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: auto; }
  .editortags .editorTagBase {
    max-width: 100%;
    padding: 5px; }
    .editortags .editorTagBase .tag {
      display: flex;
      justify-content: stretch;
      background: #e3e3e3;
      padding: 5px;
      border-radius: 10px;
      width: auto;
      color: #333;
      transition: 0.1s; }
      .editortags .editorTagBase .tag .text {
        font-weight: 600; }
      .editortags .editorTagBase .tag .icon {
        padding-left: 5px; }
    .editortags .editorTagBase .tag:hover {
      background: #e74c3c;
      color: #ecf0f1; }

.editor .title {
  display: flex;
  justify-content: center;
  padding: 25px; }

.editor .mainImage {
  max-width: 400px;
  padding: 10px; }

.editor .images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }
  .editor .images .image {
    display: flex;
    justify-content: stretch;
    padding: 10px;
    max-width: 400px; }
