.itemview {
  background: white;
  border: 1.4px solid #e3e3e3;
  border-radius: 5px;
  padding: 20px; }
  .itemview .code img {
    max-width: 150px; }
  .itemview .rent {
    padding: 10px;
    border: 1.4px solid #e3e3e3;
    border-radius: 5px; }
    .itemview .rent button {
      width: 100%;
      padding: 0; }
  .itemview .content, .itemview .description {
    max-width: 100%;
    word-break: break-all; }
  .itemview .owner {
    margin: 0;
    padding: 10px;
    border: 1.4px solid #e3e3e3;
    border-radius: 5px; }
  .itemview h3 {
    margin: 0; }
  .itemview .comment {
    margin: 0;
    padding: 10px;
    min-height: 90px; }
    .itemview .comment .icon img {
      border-radius: 100%; }
    .itemview .comment .username {
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .itemview .comment .message {
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .itemview .comment .other {
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
  .itemview .comment-creator .input {
    width: 100%; }
