[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

@media screen and (min-width: 0px) {
  html, body, .wrapper {
    background: #ECEFF1; } }

@media screen and (min-width: 1028px) {
  html, body, .wrapper {
    background: #ECEFF1; } }

[class*=column] {
  width: calc(100%);
  margin-left: 0rem;
  margin-right: 0rem; }

.mdl-layout__header-row {
  box-shadow: none; }

a {
  color: #40C4FF;
  text-decoration: none; }

a:hover {
  color: #339dcc; }

.fullwidth {
  width: 100%; }

.row {
  margin: 0;
  width: 100%; }

.fixtop {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  display: inherit !important; }

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  header .navbar {
    background: #03A9F4 !important;
    width: 100%;
    transition: 0.6s;
    padding: 0; }
    header .navbar .nav-item, header .navbar .navbar-brand {
      padding: 10px;
      margin: 0;
      transition: 0.1s; }
    header .navbar .nav-item:hover {
      background: #0398dc !important; }
    header .navbar .nav-item.darken:hover {
      background: #014462 !important; }
  header .navbar .darken {
    width: 150px;
    text-align: right;
    background: #026592 !important; }
  header .dropdown-menu {
    border: 1px solid #e3e3e3;
    border-top: 0px none;
    background: #ECEFF1;
    border-radius: 0px;
    margin: 0;
    transition: 0.1s; }
    header .dropdown-menu a:hover {
      background: #03A9F4;
      color: #fff !important; }

.fourOhFour {
  margin: 0 auto;
  text-align: center; }
  .fourOhFour .code {
    margin-top: 100px;
    font-size: 5em; }

.wrapper {
  margin-top: 50px;
  height: 100%;
  transition: 0.1s; }
  .wrapper .holder {
    background: #fff;
    border-bottom: none;
    min-height: 50vh; }
    .wrapper .holder .ngview {
      min-height: 500px; }
  @media screen and (min-width: 0px) {
    .wrapper {
      margin-top: 40px;
      padding-left: 0px;
      padding-right: 0px; } }
  @media screen and (min-width: 300px) {
    .wrapper {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 40px; } }
  @media screen and (min-width: 700px) {
    .wrapper {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 50px; } }
  @media screen and (min-width: 900px) {
    .wrapper {
      padding-left: 100px;
      padding-right: 100px;
      margin-top: 50px; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      padding-left: 200px;
      padding-right: 200px;
      margin-top: 50px; } }

.footer {
  height: 100px;
  background: #FAFAFA;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: center; }
  .footer .row {
    width: 100%;
    text-align: center; }

.home {
  height: 100%; }
  .home .welcome {
    display: flex;
    justify-content: center;
    min-height: 400px; }
    .home .welcome a {
      width: 90%;
      display: block;
      margin: 0 auto; }
    .home .welcome .column {
      padding: 10px; }

.login {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  .login .row {
    background: #fff; }
    .login .row .title {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 20px; }
    .login .row .form {
      width: 400px;
      min-height: 260px;
      margin: 0 auto; }
      .login .row .form .login-button {
        align-items: center; }
      .login .row .form .loading {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%; }
        .login .row .form .loading p {
          padding: 20px;
          font-weight: 600; }
    .login .row .error {
      width: 100%;
      min-height: 50px;
      margin-bottom: 30px;
      background: #df2029;
      display: flex;
      justify-content: center; }
      .login .row .error .message {
        color: #fff; }

.register {
  display: flex;
  justify-content: center;
  padding: 50px; }
  .register .form form {
    padding: 20px; }
  .register .form h1 {
    text-align: center;
    font-weight: 600;
    padding: 20px; }
  .register .form img {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto; }

.listing {
  width: 100%;
  min-height: 400px;
  text-align: center;
  height: 50%; }
  .listing .subheader {
    height: 200px;
    display: flex;
    justify-content: center; }
    .listing .subheader .subtitle {
      display: flex;
      justify-content: center;
      font-size: 2.3rem;
      font-weight: 600; }
    .listing .subheader .options {
      display: flex;
      justify-content: center; }
      .listing .subheader .options input {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #e3e3e3;
        margin-left: 20px;
        text-align: center;
        width: 50px; }
  .listing .item {
    min-height: 100px;
    border-bottom: 1px solid #e3e3e3; }
    .listing .item .row {
      min-height: 100px;
      width: 100%; }
    .listing .item .title {
      font-size: 2rem;
      font-weight: bold; }
    .listing .item .description {
      font-size: 1.2rem; }
    .listing .item .image {
      display: flex;
      justify-content: center;
      min-height: 100px;
      min-width: 100px; }
    .listing .item .status {
      display: flex;
      justify-content: center;
      height: 100px;
      float: right;
      margin-right: 1px; }
      .listing .item .status .avail .text {
        font-weight: bold;
        text-align: center; }
        @media screen and (min-width: 0px) {
          .listing .item .status .avail .text {
            padding-top: 10px; } }
        .listing .item .status .avail .text .item {
          margin: 0 auto;
          width: 100%; }
        @media screen and (min-width: 300px) {
          .listing .item .status .avail .text {
            text-align: center; }
            .listing .item .status .avail .text .title {
              padding-top: 10px; } }
        @media screen and (min-width: 700px) {
          .listing .item .status .avail .text {
            text-align: left; }
            .listing .item .status .avail .text .title {
              padding-top: 0px; } }
        @media screen and (min-width: 900px) {
          .listing .item .status .avail .text {
            text-align: left; } }
        @media screen and (min-width: 1200px) {
          .listing .item .status .avail .text {
            text-align: left; }
            .listing .item .status .avail .text .item {
              margin: 0 auto;
              width: 600px; } }
        .listing .item .status .avail .text .Available {
          color: #40C4FF; }
        .listing .item .status .avail .text .Unavailable {
          color: #E91E63; }
  .listing .paging {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px; }
    .listing .paging .message {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 1.5rem;
      display: flex;
      justify-content: center; }
    .listing .paging a {
      display: flex;
      justify-content: center; }
  @media screen and (min-width: 0px) {
    .listing {
      padding-top: 10px; } }
  .listing .item {
    margin: 0 auto;
    width: 100%; }
  @media screen and (min-width: 300px) {
    .listing {
      text-align: center; }
      .listing .title {
        padding-top: 10px; } }
  @media screen and (min-width: 700px) {
    .listing {
      text-align: left; }
      .listing .title {
        padding-top: 0px; } }
  @media screen and (min-width: 900px) {
    .listing {
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    .listing {
      text-align: left; }
      .listing .item {
        margin: 0 auto;
        width: 600px; } }
  .listing .message {
    text-align: center; }
    .listing .message .icon {
      font-size: 6rem; }
  @media screen and (min-width: 0px) {
    .listing .title {
      padding-top: 10px; }
    .listing .item {
      margin: 0 auto;
      width: 100%; }
      .listing .item .row {
        padding-top: 30px; }
      .listing .item .avail .text {
        width: 100%; } }
  @media screen and (min-width: 300px) {
    .listing .title {
      padding-top: 10px; }
      .listing .title .avail .text {
        width: 100%; } }
  @media screen and (min-width: 700px) {
    .listing .title {
      padding-top: 0px; }
      .listing .title .avail .text {
        width: 100px; } }
  @media screen and (min-width: 1200px) {
    .listing .item {
      margin: 0 auto;
      width: 800px; } }

.user {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center; }
  .user .profile .image {
    display: flex;
    justify-content: center; }
    .user .profile .image img {
      width: 100px;
      height: 100px; }
  .user .profile .columns {
    height: 100%; }
  .user .profile .context {
    display: flex;
    justify-content: center;
    width: 100%; }
    .user .profile .context .username {
      text-align: center;
      font-weight: 600;
      font-size: 2.3rem; }
  .user .qr .code {
    height: auto; }
  @media screen and (min-width: 0px) {
    .user .image {
      height: 100px; }
    .user .context {
      height: 100px; }
    .user .qr h2 {
      text-align: center; }
    .user .qr .code {
      display: block;
      margin: 0 auto;
      width: 100px; } }
  @media screen and (min-width: 300px) {
    .user .image {
      height: 100px; }
    .user .context {
      height: 100px; } }
  @media screen and (min-width: 700px) {
    .user .image {
      height: 200px; }
    .user .context {
      height: 200px; }
    .user .qr h2 {
      text-align: center; }
    .user .qr .code {
      display: block;
      margin: 0 auto;
      width: 150px; } }
  @media screen and (min-width: 1200px) {
    .user .image {
      height: 300px; }
    .user .context {
      height: 300px; }
    .user .qr h2 {
      text-align: center; }
    .user .qr .code {
      display: block;
      margin: 0 auto;
      width: 250px; } }

.timeline .row .header {
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%; }

.timeline .row .content {
  min-height: 400px; }

.timeline .row .sidebar {
  min-height: 400px;
  width: 100%;
  margin: 0; }
  .timeline .row .sidebar .top {
    border: 2px solid #333; }
    .timeline .row .sidebar .top .title {
      font-weight: 400;
      font-size: 1.3rem;
      text-align: center; }
    .timeline .row .sidebar .top .description {
      text-align: center;
      font-size: 1.2rem; }
  .timeline .row .sidebar .item {
    min-height: 100px;
    border-bottom: 2px solid #e3e3e3; }
    .timeline .row .sidebar .item .three {
      display: flex;
      justify-content: center;
      height: 100px; }
    .timeline .row .sidebar .item .nine {
      padding: 25px;
      padding-left: 0; }
      .timeline .row .sidebar .item .nine h5 {
        margin: 0; }
  .timeline .row .sidebar .item:hover {
    background: #ECEFF1; }
  .timeline .row .sidebar .empty {
    display: flex;
    justify-content: center;
    text-align: center; }

.logout {
  display: flex;
  justify-content: center;
  min-height: 100px; }

.cookiedisplaybase {
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #333;
  width: 100%;
  height: 50px;
  padding: 5px;
  color: #fff; }
  .cookiedisplaybase .columns {
    display: flex;
    justify-content: center;
    height: 100%; }
  .cookiedisplaybase a {
    color: #fff;
    padding-left: 100px; }
  .cookiedisplaybase .tab {
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0; }
  .cookiedisplaybase .button {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0 !important; }
    .cookiedisplaybase .button i {
      padding-right: 10px; }
    .cookiedisplaybase .button .decline {
      display: flex;
      justify-content: center;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      background: #df2029; }
    .cookiedisplaybase .button .decline:hover {
      background: #861319; }
    .cookiedisplaybase .button .agree {
      display: flex;
      justify-content: center;
      height: 100%;
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      background: #4CAF50; }
    .cookiedisplaybase .button .agree:hover {
      background: #2d682f; }

.creator .title {
  text-align: center; }

.creator form {
  padding: 60px; }
  .creator form .row img {
    height: 200px;
    display: block;
    margin: 0 auto;
    width: auto; }
  .creator form .row input {
    height: 200px; }

.button-red {
  color: #df2029;
  border: 1px solid #df2029; }

.button-red:hover {
  color: #b21a21;
  border: 1px solid #b21a21; }

.button-blue {
  color: #40C4FF;
  border: 1px solid #40C4FF; }

.button-blue:hover {
  color: #339dcc;
  border: 1px solid #339dcc; }

.button-green {
  color: #4CAF50;
  border: 1px solid #4CAF50; }

.button-green:hover {
  color: #3d8c40;
  border: 1px solid #3d8c40; }

.sidebarresults {
  position: relative;
  height: 100%;
  width: 100%; }

.tags {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 5px; }
  .tags .tag {
    background: none;
    font-weight: 600;
    border: #e3e3e3 solid 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 6px; }
  .tags .tag:hover {
    background: #ECEFF1; }

.lModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.8);
  display: flex;
  justify-content: center;
  z-index: 100; }
  .lModal .content {
    position: relative;
    background: #fff;
    width: 60%;
    height: 300px;
    margin-top: 10%; }
    .lModal .content .header {
      background: #E3E3E3;
      color: #333333;
      border-bottom: 1px solid #e3e3e3; }
    .lModal .content .other {
      padding: 10px; }
