[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

@media screen and (min-width: 0px) {
  html, body, .wrapper {
    background: #ECEFF1; } }

@media screen and (min-width: 1028px) {
  html, body, .wrapper {
    background: #fafafa; } }

[class*=column] {
  width: calc(100%);
  margin-left: 0rem;
  margin-right: 0rem; }

.searchView .header {
  text-align: center;
  padding-top: 20px; }

.searchView .input {
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 100%; }
