<div class="admin" ng-show="loggedIn">
    <div class="header">
        <div class="title">
            <h1>Admin panel</h1>
        </div>
        <div class="subtitle">
            <h3>Site Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="sidebar two columns">
            <ul class="navigation">
                <li><a href="#/admin/listing"><i class="fa fa-cubes"></i> Your Listing</a></li>
                <li><a href="#/admin/requests/listing"><i class="fa fa-cube"></i> Listing Requests</a></li>
                <li><a href="#/admin/users"><i class="fa fa-user"></i> Users</a></li>
                <li><a href="#/admin/profile"><i class="fa fa-cog"></i> Profile</a></li>
            </ul>
        </div>


        <div class="content ten columns">
            <form ng-submit="update(site)">
                <label for="">Title
                    <char-limit input="{{site.title}}" , limit="80"></char-limit>
                    <p class="textred" ng-show="message.error.title.enable">{{message.error.title.text}}</p></label>
                <input class="u-full-width" ng-model="site.title" type="text"
                       placeholder="Title: An awesome product">

                <label for="">Description
                    <char-limit input="{{site.description}}" , limit="80"></char-limit>
                    <p class="textred" ng-show="message.error.title.enable">{{message.error.title.text}}</p></label>
                <input class="u-full-width" ng-model="site.description" type="text"
                       placeholder="Title: An awesome product">
                <div class="">
                    <input type="submit" ng-class="uploadButtonClass" value="{{message.button}}">
                </div>
            </form>
        </div>
    </div>

</div>

<div class="admin" ng-hide="loggedIn">
    <h1>You must be logged in</h1>
</div>

